1 VERSIONINFO
FILEVERSION ${MAJOR_VERSION},${MINOR_VERSION},${BID},0
PRODUCTVERSION ${MAJOR_VERSION},${MINOR_VERSION},${BID},0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004B0"
	{
		VALUE "ProductName", "YaeAchievement"
		VALUE "ProductVersion", "${MAJOR_VERSION}.${MINOR_VERSION}.${BID}"
		VALUE "FileDescription", "YaeAchievement"
		VALUE "FileVersion", "${MAJOR_VERSION}.${MINOR_VERSION}.${BID}"
		VALUE "OriginalFilename", "${ORIGINAL_NAME}"
		VALUE "LegalCopyright", "Copyright (c) ${YEAR} HolographicHat"
	}
}
BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}
